<footer class="footer">
	<div class="main">
		<div class="inner-wrap">
			<div class="footer-col">
				<h4 class="footer-title">GET IN TOUCH</h4>
				<div class="footer-items">
					<div class="footer-item">
						<i class="fa fa-phone"></i>
						<span>(01472) 123456</span>
					</div>
					<div class="footer-item">
						<i class="fa fa-envelope"></i>
						<a href="mailto:enquires@laser.red">enquires@laser.red</a>
					</div>
				</div>
			</div>
			<div class="footer-col">
				<h4 class="footer-title">COMPANY</h4>
				<div class="footer-items">
					{% for item in footer.company.items %}
						<div class="footer-item">
							<a href="{{item.link}}">{{item.title}}</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="footer-col">
				<h4 class="footer-title">ACCOUNT &amp; ORDERS</h4>
				<div class="footer-items">
					{% for item in footer.account.items %}
						<div class="footer-item">
							<a href="{{item.link}}">{{item.title}}</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="footer-col">
				<h4 class="footer-title">USEFUL LINKS</h4>
				<div class="footer-items">
					{% for item in footer.usefulLinks.items %}
						<div class="footer-item">
							<a href="{{item.link}}">{{item.title}}</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="sub-footer">
		<div class="inner-wrap">
			<div id="copyright">
				<span>&copy; {{ "now"|date('Y') }} Laser Bikes. Registered in the UK - Registration No. 01234567 - <a href="/">Report a Bug</a></span>
			</div>
			<div id="checkout-lr-logo">
				<div class="checkout">
					<img src="{{theme.path}}/assets/images/secure-checkout.png" alt="" class="secure-checkout">
					<img src="{{theme.path}}/assets/images/card-logos.png" alt="" class="card-logos">
				</div>
				<div class="laser-red">
					<img src="{{theme.path}}/assets/images/laser-red-logo.png" alt="">
				</div>
			</div>
		</div>
	</div>
</footer>