<section class="news-events">
	<div class="layout-wrapper">
		<div class="events">
			<div class="title-wrap">
				<h4 class="title">NEXT EVENT</h4>
				<a href="">VIEW ALL EVENTS <img src="{{theme.path}}/assets/images/news-arrow-blue.png" alt=""></a>
			</div>
			{% for event in events %}
				<div class="event" style="background-image: url('{{event.thumbnail.src}}')">
					<div class="overlay">
						<div class="date">
							<i class="fa fa-calendar"></i>
							<span>{{event.start_date|date('y F')}} - {{event.end_date|date('j F Y')}}</span>
						</div>
						<div class="location-name">
							<div class="location">
								<i class="fas fa-map-marker-alt"></i>
								<span>{{event.location}}</span>
							</div>
							<h3 class="name">{{event.title}}</h3>
						</div>
						<a href="" class="arrow">
							<img src="{{theme.path}}/assets/images/arrow-right.png" alt="">
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="news">
			<div class="title-wrap">
				<h4 class="title">LATEST NEWS</h4>
				<a href="">VIEW ALL NEWS <img src="{{theme.path}}/assets/images/news-arrow-blue.png" alt=""></a>
			</div>
			<div class="news-items">
				{% for post in news %}
					<div class="news-item">
						<div class="image" style="background-image:url('{{post.thumbnail.src}}')" ></div>
						<div class="post-meta">
							<div class="date">
								<i class="fa fa-calendar"></i>
								<span>{{ post.date|date('j F Y') }}</span>
							</div>
							<h4 class="title">{{ post.title }}</h4>
							<a href="{{ post.link }}" class="link">FULL STORY 	<img src="{{theme.path}}/assets/images/news-arrow.png" alt="">
							</a>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
	</div>
</section>