<section class="testimonials">
	<div class="layout-wrapper">
		<h3 class="title">{{ parameters.title }}</h3>
		<h5 class="subtitle">{{ parameters.subtitle }}</h5>

		<div class="testimonial-wrapper" style="background-image:url('{{ context.theme.path }}/assets/images/newsletter-cta-bg.jpg');">
			{% for testimonial in parameters.testimonials %}
				<div class="testimonial">
					<div class="content">
						{{ testimonial.content|striptags }}
					</div>
					<span class="author">{{ testimonial.title }}</span>
					<span class="description">{{ testimonial.author_description }}</span>
				</div>
			{% endfor %}
			<img src="{{ context.theme.path }}/assets/images/quote.png" alt="">
		</div>
	</div>
</section>